.loader {
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
        width: 12rem;
        height: 12rem;
    }
}

.loader--main {
    background-color: $yellow-off; 
    height: 100vh;
}