.search-results {
    background-color: $brown-lightest-3;
    overflow-y: scroll;

    flex: 0 1 20%;  

    @include scrollbar;
}

.result-item {

    button {
        border: none;
        border-bottom: solid 1px $grey-dark-3;
        background-color: $brown-lightest-1;
        display: block;
        font-family: inherit;
        font-weight: 600;
        padding: 1rem 1rem;
        outline: none;
        transition: all .3s;
        width: 100%;

        display: flex;
        align-items: center;

        .result-author {
            flex: 1;
            margin-left: 1rem;
        }

        &:hover {
            background-color: $brown-lightest-2;
        }

        &:active {
            transform: scale(0.95);
        }
    }
}