
.main {
    height: 100vh;

    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-small) {
        display: none;
    }
}

.content {
    
    flex: 1;
    display: flex;
}

.width-error__item {
    display: none;
}

@media only screen and (max-width: $bp-small) {
    .width-error {
        background-color: $yellow-off;
        display: flex;
        height:  100vh;
        font-size: 1.8rem;
        justify-content: center;
        align-items: center;

        &__item {
            display: inline-block;
            padding: 3rem;
        }
    }
}