//// Scroll bar style ////*/
@mixin scrollbar {
    
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 14px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $grey-light-2; 
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $grey-dark-2;
        border-radius: 10px; 
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $brown-light-1; 
    }
}

